{
    presets: [
        ['@babel/preset-env', {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            },
            "modules": false, //禁用babel-preset-env的模块化规范转化
            "corejs": "3.0.0",
            "debug": false,
            "useBuiltIns": "usage" // 是否开启自动支持 polyfill
            
        }]
    ],
    "plugins": [ 
        ["component", { "libraryName": "mint-ui", "style": true }]
    ]
}
